.component-child,
.component-item {
  position: absolute;
  top: 95px;
  left: 66px;
  background-color: var(--color-gainsboro);
  width: 275px;
  height: 165px;
}
.component-item {
  top: 352px;
  left: 176px;
  width: 327px;
  height: 361px;
}
.rectangle-parent {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #134b62;
  width: 615px;
  height: 902px;
  overflow: hidden;
}
.mask-group {
  position: relative;
  width: 100%;
  height: 902px;
}